---
layout: layouts/home.njk
eleventyNavigation:
  key: About
  order: 2
---

<h1>About</h1>
<h2> About GeauxWeisbeck4</h2>

<p>This website is the 11 Agile Workflow to help me build my 11 Steezy Tech Website and business. More to come later on.

I love to agile with agility. Navel gazer. Yeah.</p>

<h3>This is my homie, Tailwind Dev Dude</h3>




