---
layout: layouts/home.njk
eleventyNavigation:
  key: About
  order: 2
---

<h1>About</h1>
<h2>Andrew's Geaux Management Sprint</h2>

<p>This is the 10th sprint that I will complete through Section 4 - I'm not sure if it's a record, but it has to be up there for one of the most that have been completed! I am excited for this sprint regardless of any records or anything. These sprints are always great learning sessions, as well as great opportunities to network with others.</p>

<h3>Sprint Intentions</h3>

<p>We were told to set an intention for this sprint and for me, this one was easy for my current situation -</p>
<br />

<em>
  "To network with as many other sprinters as I can and to also build meaningful relationships"
</em>

<br />
<p>
  This goal is so important for me right now because I have struggled to find a job for a whole year and it has had very consequential consequences in my life financially and personally. 2022 was the worst year of my life. Part of it I think was because I didn't take advantage of all the networking opportunities I had at Section 4 in 2022. I won't make that mistake again this year.
</p>
<h3>About Me</h3>
<p>
  My personal website is <a href="https://geauxweisbeck4.dev">GeauxWeisbeck4.dev</a> and is still a work in progress. I live in Raleigh, NC with my fiance Lisa and our two cats (Zulu and Beaux) and our dog, Magnolia. I am a full-stack freelance developer with my own little studio, Tar Heel Dev Studio, which is currently getting a facelift as far as it's website goes. I am looking for full-time work or more freelance projects - if one of those can pay my bills that I currently can't pay, I will be so happy. It has been some rough times for me and Lisa lately and are currently trying to figure out how to pay our bills and not become homeless. You can help us out <a href="https://fundly.com/help-us-avoid-homelessness-2">here at our fundraiser</a> if you want to be super awesome.
</p>
<h3>More to come</h3>
<p>
I will post more of my links and other things like that throughout the sprint. I hope you enjoy this website!
</p>

<img src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1670863573/aboutme2_n3rqfw.png" alt="my life andrew weisbeck" />

