---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Welcome to Geaux Managment</h1>
<h3>The home of Andrew Weisbeck's Journey through the Section 4 Management Sprint!</h3>
<p>You can follow all of my progress and learn what I am learning by following along.</p>
<img src="https://res.cloudinary.com/tar-heel-dev-studio/image/upload/v1673344765/section4management_j7nabj.png" alt="management section 4" />

{% set maxPosts = collections.posts.length | min(5) %}
<h2>Here are some things I am currently working on:</h2>

{% set postslist = collections.inprogress | head(-5) %}
{% set postslistCounter = collections.inprogress | length %}
{% include "postslist.njk" %}

{% set maxPosts = collections.posts.length | min(5) %}
<h2>Here are some things I still need to get started on:</h2>

{% set postslist = collections.backlog | head(-5) %}
{% set postslistCounter = collections.backlog | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
