<ol reversed class="sprintslist" style="counter-reset: start-from {{ (sprintslistCounter or sprintslist.length) + 1 }}">
{% for sprint in sprintslist | reverse %}
  <li class="sprint-item{% if sprint.url == url %} sprintlist-item-active{% endif %}">
    <a href="{{ sprint.url | url }}" class="sprintlist-link">{% if sprint.data.title %}{{ sprint.data.title }}{% else %}<code>{{ sprint.url }}</code>{% endif %}</a>
    <time class="sprintlist-date" datetime="{{ sprint.date | htmlDateString }}">{{ sprint.date | readableDate }}</time>
    {% for tag in sprint.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="sprint-tag">{{ tag }}</a>
    {% endfor %}
  </li>
{% endfor %}
</ol>
